.calendar_header {
	padding: 1em 1em 0 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_home {
	height: 2.7em;
}

.calendar {
	border-collapse: collapse;
}

.log-day {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -3.5em;
}

.calendar-container header {
	border-radius: 0.5em 0.5em 0 0;
	color: #fff;
	padding: 1em;
}

.month {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	text-align: center;
	font-size: 1.5em;
	text-transform: lowercase;
}

.calendar {
	color: white;
}

.calendar thead {
	color: #fcf1eb;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .2em .3em;
	text-align: center;
}

.current-day {
	background-color: #ad6cb7;
	border-radius: 50%;
  color: #fff;
}

.therapy_day {
	border: .05em solid white;
	border-radius: 50%;
	padding: .2em;
}

.session-day {
	border: .05em solid white;
	border-radius: 50%;
	padding: .2em;
  text-decoration: none;
}

.prev-month,
.next-month {
	color: #fcf1eb;
}

.calendar_arrow {
	height: .5em;
}

.info_button {
	height: 1.5em;
}

.calendar_text {
	max-width: 80%;
	text-align: center;
	display: none;
	margin-top: 1em;
	font-size: .8em;
}

.select_button, .send_button {
	font: inherit;
	color: inherit;
	text-align: right;
	margin-right: .5em;
}

.selected {
	border: .05em solid white;
	height: 1em;
	width: 1em;
	margin-right: .4em;
}

.calendar_key {
	display: flex;
	flex-direction: row;
}

.calendar_caption {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: .8em;
}

.calendar_button {
	background: #6dd2a6;
	padding: 0em .4em;
	border-radius: .1em;
	box-shadow: .1em .1em .05em #369081;
}
