.calendar {
	border-collapse: collapse;
}

.log-day {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  /*transform: translate(-50%, -50%);*/
}

.calendar-container header {
	border-radius: 0.5em 0.5em 0 0;
	color: #fff;
	padding: 1em;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	text-align: center;
	font-size: 1.5em;
	text-transform: lowercase;
}

.calendar {
	color: white;
}

.calendar thead {
	color: #fcf1eb;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .2em .3em;
	text-align: center;
}

.current-day {
	background-color: #ad6cb7;
	border-radius: .2em; 
  color: #fff;
}

.session-day {
	border: .05em solid white;
	border-radius: 50%;
	padding: .2em;
  text-decoration: none;
}

.prev-month,
.next-month {
	color: #fcf1eb;
}
