.day_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.food-log {
  margin-bottom: 0.5em;
  border-style: solid;
  padding: 0.5em;
}

.back_button {
  height: 3em;
}

.container {
  margin: -1.5em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: .05em solid white;
  padding: 0em 1em 1em 1em;
  max-width: 75%;
  border-radius: .2em;
}

.header_menu {
  margin-bottom: none;
}

.edit {
  height: 3em;
  width: auto;
}

.day_heading {
  margin: 0;
  margin-top: 1em;
}
