body {
  background-position: center bottom;
  height: 100vh;
  background: #7190d4;
  background-image: url('../images/lscapepurple.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 0em 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_calendar {
  height: 2.8em;
}

.logameal_text {
  padding: .1em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
}

.landing_greeting {
  margin: 0em .5em .5em .5em;
  font-size: 1.3em;
  text-align: center;
}

.landing_question {
  line-height: 2em;
  font-size: 1.3em;
  text-align: center;
}
