body {
  padding: 1em;
}

.logameal_header {
  padding: 1em;
}

.header_back {
  height: 1em;
}

#camera_small {
  height: 2em;
  margin-bottom: -0.5em;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 1em;
}

.logameal_input {
  border: .05em solid white;
  border-radius: .2em;
  background: none;
  padding: .5em;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
}

.logameal_submit {
  padding: .1em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
}

#food_input {
  width: 100%;
}

#what_happened {
  display: none;
}

#current_time_input {
  width: 80%;
  /*height: 1.3em;*/
  font-family: inherit;
  font-size: 1.2em;
}

#canvas {
  display: none;
}

#video, #photo, #startbutton {
  display: none;
  margin: 0 auto;
}

#video, #photo {
  width: 150;
  height:150;
}

.camera_big {
  height: 4em;
}
