.logameal_header {
  padding: 1em;
}

.header_back {
  height: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.logameal_input {
  border: .05em solid black;
}

.logameal_questions {
  margin-bottom: 2em;
}

.logameal_submit {
  background: silver;
  padding: .3em;
  line-height: 1.5em;
}

#food_input {
  width: 90%;
}

#what_happened {
  display: none;
}

#current_time_input {
  width: 38%;
}

#canvas {
  display: none;
}
