body {
  padding: 1em;
}

.logameal_header {
  padding: 1em;
}

.header_back {
  height: 3em;
}

#camera_small {
  height: 2em;
  margin-bottom: -0.5em;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 1em;
}

.logameal_input {
  border: .05em solid white;
  border-radius: .2em;
  background: none;
  padding: .5em;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
}

.logameal_input:focus {
  border: 0.15em solid white;
  outline: none;
}

.logameal_submit {
  margin-top: 1em;
  padding: 0.2em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
  text-align: center;
}

#q5, #q4 {
  width: 100%;
}

#what_happened {
  display: none;
}

#current_time_input {
  width: 80%;
  /*height: 1.3em;*/
  font-family: inherit;
  font-size: 1.2em;
}

#canvas {
  display: none;
}

#video, #photo, #startbutton {
  display: none;
  margin: 0 auto;
}

#video, #photo {
  width: 150;
  height:150;
}

.camera_big {
  height: 4em;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 80%;
  background: none;
  border: 0.05em white solid;
  border-radius: .2em;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 1px 1px 1px #828282;*/
  /*border: 1px solid #8A8A8A;*/
  height: 1em;
  width: 1em;
  border-radius: 40%;
  background: white;
  /*cursor: pointer;*/
  -webkit-appearance: none;
  /*margin-top: -5px;*/
}
