body, html {
  background: #bdfae9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0em 0em;
}

.login_logo {
  width: 13em;
}

.login_input {
  border: 0.07em solid white;
  border-radius: .2em;
  font-size: 1.2em;
  font-family: 'Coming Soon', cursive;
  background: none;
  padding-left: .3em;
}

.login_input::placeholder {
  color: white;
  font-size: 1em;
}

.login_input:focus {
  border: 0.15em solid white;
  outline: none;
}

.login_input:focus::placeholder {
  color: #7190d4;
}

.login_email {
  margin-top: .7em;
}

.login_password {
  margin-top: .7em;
}

.login_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: .7em;
}

.login_info {
  display: none;
  font-size: .9em;
  max-width: 75%;
  font-family: 'Coming Soon', cursive;
  color: #7190d4;
}

.info_button, .login_button {
  height: 1.5em;
}

#authentication_error {
  visibility: hidden;
  color: #ad6cb7;
  margin: .5em;
  font-style: italic;
}
