.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 0em;
}

.login_logo {
  width: 6em;
}

.login_input {
  border: 0.05em solid black;
  font-size: 1.2em;
}

.login_email {
  margin-top: 2em;
}

.login_password {
  margin-top: 1em;
}

.login_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.login_button {
  font-size: 1.2em;
}

.login_info {
  display: none;
  font-size: 1.2em;
  max-width: 80%;
}
