body, html {
  margin: 0 auto;
  /*font-family: 'Coming Soon', helvetica;*/
  font-family: 'Quicksand', sans-serif;

  background: #52c4ce;
  color: white;
    background: -webkit-linear-gradient(#3eb3c4, #81e7d9, #7fe8da); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3eb3c4, #81e7d9, #7fe8da); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3eb3c4, #81e7d9, #7fe8da); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3eb3c4, #81e7d9, #7fe8da); /* Standard syntax */
}

a {
  color: inherit;
  text-decoration: none;
}

.header_profile_pic {
  height: 3em;
}

.header_menu_items {
  visibility: hidden;
  background: #50bbc5;
  box-shadow: .1em .1em .05em #369081;
  border-radius: .2em;
  padding: .5em 1.2em;
  line-height: 2em;
  position: relative;
  z-index: 1;
}

.header_menu {
  text-align: right;
}
