.settings_header {
  padding: 1em;
}

.header_back {
  height: 1em;
  margin-left: .4em;
}

/*.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 1em;
}

.settings_section {
  margin: 1em 2em;
  border: .05em solid white;
  border-radius: .2em;
  padding: 1em 1.5em;
  font-size: .9em;
  font-size: .8em;
}

.settings_heading {
  font-size: 1.7em;
  margin: 0;
}

.settings_input {
  border: .05em solid white;
  border-radius: .2em;
}

.save_setting {
  margin-left: 7em;
  margin-right:7em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: .1em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
}

.settings_switch {
  padding: 0em .2em;
  margin: .2em;
}

.settings_on {
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
}

.settings_text {
  font-size: 1.2em;
  line-height: 1em;
}
