.background {
  height: 100vh;
  background: #52c4ce;
  color: white;
    background: -webkit-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: -o-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: -moz-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
}

.mountain {
  height: 100vh;
  background: #52c4ce;
  color: white;
    background: -webkit-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: -o-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: -moz-linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
    background: linear-gradient(#3eb3c4, #81e7d9, #7fe8da);
}

.dusk {
  height: 100vh;
  background: #BA5370;  /* fallback for old browsers */
background: -webkit-linear-gradient(bottom, #F4E2D8, #BA5370);
background: -o-linear-gradient(bottom, #F4E2D8, #BA5370);
background: linear-gradient(to top, #F4E2D8, #BA5370);
}

.moonrise {
  height: 100vh;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.moss {
  height: 100vh;
  background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #71B280, #134E5E);
background: -o-linear-gradient(left, #71B280, #134E5E);
background: linear-gradient(to right, #71B280, #134E5E);
}

input[type="radio"]:checked ~ * {
    background:pink;
}

.settings_header {
  padding: 1em;
}

.header_back {
  height: 3em;
  margin-left: .4em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1em 1em 1em;
}

.settings_section {
  margin: 1em 2em;
  border: .05em solid white;
  border-radius: .2em;
  padding: 1em 1.5em;
  font-size: .9em;
  font-size: .8em;
}

.settings_heading {
  font-size: 1.7em;
  margin: 0;
}

.settings_input {
  border: .05em solid white;
  border-radius: .2em;
}

.save_setting {
  margin: 0 1.7em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: .1em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
  max-width: 100%
}

.save_setting_moonrise {
  margin: 0 1.7em;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: .1em .3em;
  border-radius: .2em;
  background: #A9A9A9;
  box-shadow: .1em .1em .05em #808080;
  max-width: 100%
}
.elements_setting {
  border-style: none;
  outline: none;
  font-size: 0.8em;
  color: white;
  padding: .1em .3em;
  border-radius: .2em;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
  max-width: 100%
}

.settings_switch {
  padding: 0em .2em;
  margin: .2em;
}

.settings_on {
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
}

.moonrise_on {
  background: #A9A9A9;
  box-shadow: .1em .1em .05em #bdc3c8;
}

.settings_text {
  font-size: 1.2em;
  line-height: 1em;
}

#add_second_reminder {
  display: block;
}

#second_reminder, #third_reminder, #fourth_reminder, #fifth_reminder {
  display: none;
}

#add_third_reminder, #add_fourth_reminder, #add_fifth_reminder {
  display:none;
}

#add_second_reminder, #add_third_reminder, #add_fourth_reminder, #add_fifth_reminder {
  font-family: inherit;
  background: #6dd2a6;
  box-shadow: .1em .1em .05em #369081;
  border-radius: .2em;
  width: 1em;
  text-align: center;
  padding: 0 .15em;
  margin-top: .3em;
}

select {
  font-family: inherit;
  background: none;
  border: .05em solid white;
  border-radius: .2em;
  color: white;
  width: 4em;
}

select:focus {
  outline: none;
  border: 0.15em solid white;
}

#user_greeting {
  background: none;
  border: none;
  border: .05em solid white;
  border-radius: .2em;
  margin-top: 1em;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0.1em 0.2em;
  width: 14em;
}

#user_greeting:focus {
  outline: none;
  border: .15em solid white;
}
