body {
  height: 100vh;
}


.therapy_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}

.back_button {
  height: 3em;
}

.container {
  margin: 0 auto;
  max-width: 75%;
  border: .05em solid white;
  padding: 0em 1em 1em 1em;
  border-radius: .2em;
}

.container_top {
  margin-top: -3em;
}

.container_day {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
  text-align: center;
}

.therapy_heading {
  margin: 0em;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
}

.therapy_list {
  list-style-type: circle;
  margin-left: -1em;
}
